* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(217, 205, 230);
    padding: 0 16px;
    font-family: "McLaren", cursive;
    min-height: 100vh;
}

/* Header */

header {
    background-color: #410374;
    margin: auto -16px;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

#Library{
    font-family: 'Space Mono', monospace;
}

header h1 {
    color: #fff;
    font-weight: 200;
    display: inline-block;
}

.homeButtons {
    display: block;
    position: relative;
    text-align: right;
    display: inline-block;
    position: absolute;
    right: 20px;
}

.homeButton {
    margin: 5px;
}

.hide {
    display: none;
}
/* Footer */


/* Book */

.book {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 240px;
    margin: 16px;
    float: left;
}

.book img {
    border-radius: 5px;
    height: 70%;
    width: 220px;
}

.bookName{
    font-size: 25px;
}

.card{
    height: 500px;
    /* background-color: rgb(197, 243, 242); */
    /* border: #410374 2px solid; */
    box-shadow: 2px 2px 20px #410374;
}

.card-text{
    position: absolute;
    bottom: 20px;
}

/* Book Form */

.formContainer {
    padding: 100px;
    text-align: center;
    margin: 0 auto;
    position: relative;
}

.input-group{
    display: flex;
    justify-content: center;
    margin: 25px 0;
}

.input-group span,input{
    border: 1px black solid;
}

#Alert1,#Alert2,#countAlert{
    visibility: hidden;
}

#bookAddAlert{
    margin: 10px;
    visibility: hidden;
}

#Alert3{
    visibility: hidden;
    position: absolute;
    width: 100%;
    z-index: 1;
}

/* Search Bar */

.search-bar{
    text-align: center;
    height: 200px;
}

.search-bar input{
    border: #410374 solid;
    color: #410374 !important;
}

.search{
    display: inline;
    position: relative;
    top: 80px;
}

button{
    background-color: #410374 !important;
    color: white !important;
    border: #eee solid !important;
}

.bookName{
    font-family: 'Cormorant SC', serif;
    font-weight: 700 !important;
}

.bookName,.authorName{
    color: black;
}

.bookName{
    line-height: 1.5rem;
}
